<div class="grid grid-cols-4 gap-4">
  <div id="sobreMi" class="col-span-4 descripcion hidden md:block">
    <p>"Soy un apasionado por la programación, <span class="highlight">persigo diariamente mi sueño de convertirme en un
        destacado desarrollador</span>."
    </p>
  </div>
  <div class="grid grid-cols-4 gap-6 col-span-4">
    <div id="imagen" class="foto_portafolio col-span-2 hidden md:block">
      <img src="assets/perfil_portafolio_editado.png" alt="">
    </div>
    <div id="perfil" class="col-span-4 md:col-span-2 flex flex-col space-y-16">
      <div class="titulo p-3">
        <p>Perfil profesional</p>
      </div>
      <div class="contenidoTexto p-3">
        <p>Soy Tecnólogo Profesional en Desarrollo de Software con énfasis en aplicaciones web, egresado de la
          reconocida Institución Universitaria Pascual Bravo. Mi formación académica y experiencia en el campo me han
          dotado de sólidos conocimientos en el diseño, implementación y mantenimiento de soluciones tecnológicas
          innovadoras. A lo largo de mi trayectoria educativa, he cultivado habilidades especializadas que me permiten
          abordar desafíos complejos en el desarrollo de software, con un enfoque particular en aplicaciones web de
          última generación.</p>
      </div>
      <div class="contenidoTexto p-3">
        <p>
          Siempre busco ser un mejor desarrollador de software, dedicando tiempo a estudiar nuevas tecnologías y
          mantenerme actualizado en las tendencias del sector. Creo en la importancia de la mejora continua, por lo que
          me esfuerzo cada día en capacitarme, perfeccionar mis habilidades y optimizar mi forma de trabajar para ser
          más rápido, eficiente y ofrecer soluciones de mayor calidad.</p>
      </div>
      <div class="titulo p-3">
        <p>Conocimientos y fortalezas</p>
      </div>
      <div class="grid grid-cols-3 gap-2 p-[10px]">

        @for (item of conocimientos; track $index) {
          <p-button [disabled]="item.disable" class="sm:col-span-1 col-span-3 w-auto" (click)="navigateTo(item)" label="{{item.nombre}}" />
        }

      </div>
      <div class="titulo p-3">
        <p>Experiencia laboral</p>
      </div>
      <div class="grid grid-cols-4 gap-2 p-[10px]">

        @for (item of experiencia; track $index) {
          <p-button class="sm:col-span-1 col-span-3" (click)="navigateTo(item)" label="{{item.nombre}}" />
        }
      </div>
    </div>
  </div>
</div>