body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 40% 30% 40%;
    grid-template-areas: 
    "descripcion descripcion descripcion descripcion descripcion descripcion"
    "container_principal container_principal container_principal container_principal container_principal container_principal"
    "grafica_container grafica_container grafica_container grafica_container grafica_container grafica_container";
}
.container_principal{
    display: grid;
    grid-area: container_principal;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 15% 25% 45%;
    gap: 20px;
    grid-template-areas: 
    "foto_portafolio foto_portafolio foto_portafolio foto_portafolio titulo_estudio1 titulo_estudio1 titulo_estudio1 titulo_estudio1"
    "foto_portafolio foto_portafolio foto_portafolio foto_portafolio estudio1 estudio1 estudio1 estudio1"
    "foto_portafolio foto_portafolio foto_portafolio foto_portafolio estudio1 estudio1 estudio1 estudio1"
    ;
    background: linear-gradient(rgba(239, 239, 235, 0.8), rgba(239, 239, 235, 0.8)), url('../../../../assets/fondo2.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fafafa;
}
.grafica_container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 15% 80%;
    grid-template-areas: 
    "titulo_grafica titulo_grafica titulo_grafica titulo_grafica titulo_grafica titulo_grafica titulo_grafica titulo_grafica"
    "grafica grafica grafica grafica grafica grafica grafica grafica";
    grid-area: grafica_container;
    background: linear-gradient(rgba(37, 37, 36, 0.8), rgba(37, 37, 36, 0.8)), url('../../../../assets/fondo4.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #3c3c3c;
}
.grafica{
    height: 100%;
    width: 100%;
    grid-area: grafica;
}
.descripcion{
    grid-area: descripcion;
    margin-top: 125px;
}
.descripcion p{
    color: #fafafa;
    font-size: 64px;
    line-height: 1.5;
    width: 100%;
    text-align: left;
    text-align: start;
    letter-spacing: 1px;
    animation: fadeInUp 1s ease-out;
    padding-left: 20px;
    margin: 0;
}
.highlight {
    font-size: 79px;
    font-weight: bold;
    color: #1c1b22;
    -webkit-text-stroke: 1px #fafafa;
    animation: scaleText 2.5s infinite alternate;
}
.foto_portafolio{
    grid-area: foto_portafolio;
    max-width: 100%;
    height: 100%;
    // position: relative;
}
.foto_portafolio img{
    // position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.titulo_grafica{
    grid-area: titulo_grafica;
    display: flex;
    justify-content: center;
}
.titulo_grafica p{
    font-family: "Anta", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #374151;
    margin: 0;
}
.titulo_estudio1{
    grid-area: titulo_estudio1;
}
.titulo_estudio1 p{
    font-family: "Anta", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #374151;
}
.estudio1{
    grid-area: estudio1;
}
.estudio1 p{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #000;
    line-height: 2;
}