<main class="container_principal">
    <div class="container1">
        <p class="descripcion">"Soy un apasionado por la programación, <span class="highlight">persigo diariamente mi sueño de convertirme en un destacado desarrollador</span>."</p>
    </div>
    <div class="container2">
        <div class="foto_portafolio">
            <img src="../../../../assets/perfil_portafolio_editado.png" alt="">
        </div>
        <div class="contenedor_contenido_contenedor2">
            <div class="titulo_contenedor2">
                <p>Estudios</p>
            </div>
            <div class="titulo_estudio1"><p>Desarrollador de software</p></div>
            <div class="estudio1">
                <p >Soy Tecnólogo Profesional en Desarrollo de Software con énfasis en aplicaciones web, egresado de la reconocida Institución Universitaria Pascual Bravo. Mi formación académica y experiencia en el campo me han dotado de sólidos conocimientos en el diseño, implementación y mantenimiento de soluciones tecnológicas innovadoras. A lo largo de mi trayectoria educativa, he cultivado habilidades especializadas que me permiten abordar desafíos complejos en el desarrollo de software, con un enfoque particular en aplicaciones web de última generación.</p>
            </div>
            <div class="titulo_estudio2"><p>Diseñador grafico</p></div>
            <div class="estudio2">
                <p>Soy Técnico Profesional en Diseño Gráfico, con especialización en campañas publicitarias, egresado de la prestigiosa Institución Técnica CESDE. Mi formación académica ha sido integral, permitiéndome adquirir habilidades avanzadas en el diseño creativo y estratégico, especialmente orientado hacia campañas publicitarias impactantes. Mi enfoque proactivo y mi capacidad para fusionar la creatividad con las últimas tendencias tecnológicas me posicionan como un profesional versátil y preparado para afrontar los retos dinámicos del mundo del diseño gráfico y la publicidad.</p>
            </div>
        </div>
    </div>
    <div class="container3">
        <div class="titulo_conocimientos"><p>Conocimientos</p></div>
        <div class="contenido_conocimientos"><p>Esta sección destaca mis conocimientos en constante evolución y refleja mi compromiso con la actualización continua. Mi portafolio y esta área se mantendrán actualizados conforme avance en mis estudios y adquiera nuevos conceptos en tecnologías y desarrollo de software.</p></div>
        <button class="angular"><p>Angular</p></button>
        <button class="laravel"><p>Laravel-api</p></button>
        <button class="node"><p>node-api</p></button>
        <button class="sql"><p>sql</p></button>
        <div class="contenido_angular">
            <div>
                <p>Comunicación de Componentes en Angular</p>
                <p>Soy un profesional altamente capacitado en la creación y comunicación efectiva de componentes en Angular. Mi experiencia se centra en el diseño y desarrollo de arquitecturas de aplicaciones Angular, garantizando una comunicación fluida y eficiente entre los diferentes elementos del sistema. Mi enfoque preciso y orientado a componentes asegura un código modular, fácil de mantener y escalar.</p>
            </div>
            <div>
                <p>Consumo de APIs en Angular</p>
                <p>Mi destreza en Angular abarca el consumo eficaz de APIs para integrar datos de manera eficiente en las aplicaciones. Poseo experiencia sólida en la implementación de servicios HTTP, gestión de peticiones asíncronas y manipulación de datos recibidos. Esta habilidad me permite desarrollar aplicaciones Angular que se conectan de manera dinámica con diversas fuentes de datos externas.</p>
            </div>
            <div>
                <p>Experto en Maquetación en Angular</p>
                <p>Mi experiencia en Angular se extiende a la maquetación experta de interfaces de usuario atractivas y responsivas. Poseo un sólido conocimiento de las mejores prácticas de diseño y maquetación en Angular, utilizando herramientas y técnicas avanzadas para lograr interfaces de usuario visualmente impactantes y funcionalmente efectivas. Mi enfoque meticuloso en la maquetación contribuye a la creación de experiencias de usuario intuitivas y agradables.</p>
            </div>
        </div>
    </div>
    
</main>