.container_principal{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(3,minmax(0, 1fr));
    gap: 10px;
    grid-template-areas: "container1 container1 container1 container1 container1 container1" 
    "container1 container1 container1 container1 container1 container1"
    "container2 container2 container3 container3 container3 container3";
}
.container1{
    display: grid;
    // background-color: #fafafa;
    width: 100%;
    grid-area: container1;
    height: 100%;
    margin-top: 35px;
}
.descripcion{
    color: #fafafa;
    font-size: 64px;
    line-height: 1.5;
    text-align: start;
    letter-spacing: 1px;
    animation: fadeInUp 1s ease-out;
    margin-left: 10px;
}
.highlight {
    font-size: 79px;
    font-weight: bold;
    color: #1c1b22;
    -webkit-text-stroke: 1px #fafafa;
    animation: scaleText 2.5s infinite alternate;
}
// @keyframes fadeInUp {
//     from {
//       opacity: 0;
//       transform: translateY(200px);
//     }
//     to {
//       opacity: 1;
//       transform: translateY(0);
//     }
// }

// @keyframes scaleText {
//     from {
//         transform: scale(1);
//     }
//     to {
//         transform: scale(14.1);
//     }
// }
.container2{
    display: grid;
    background-color: #fafafa;
    width: 100%;
    grid-area: container2;
    margin-top: 10px;
    height: 100%;
}
.container3{
    display: grid;
    background-color: #fafafa;
    width: 100%;
    grid-area: container3;
    margin-top: 10px;
    height: 100%;
}