<main class="container_principal">
    <div class="container1">
        <p class="descripcion">"Soy un apasionado por la programación, <span class="highlight">persigo diariamente mi sueño de convertirme en un destacado desarrollador</span>."</p>
    </div>
    <div class="container2">
        <div class="foto_portafolio">
            <img src="../../../../assets/perfil_portafolio_editado.png" alt="">
        </div>
        <div class="contenedor_contenido_contenedor2">
            <div class="titulo_contenedor2">
                <p>Estudios</p>
            </div>
            <div class="titulo_estudio1"><p>Desarrollador de software</p></div>
            <div class="estudio1">
                <p >Soy Tecnólogo Profesional en Desarrollo de Software con énfasis en aplicaciones web, egresado de la reconocida Institución Universitaria Pascual Bravo. Mi formación académica y experiencia en el campo me han dotado de sólidos conocimientos en el diseño, implementación y mantenimiento de soluciones tecnológicas innovadoras. A lo largo de mi trayectoria educativa, he cultivado habilidades especializadas que me permiten abordar desafíos complejos en el desarrollo de software, con un enfoque particular en aplicaciones web de última generación.</p>
            </div>
            <div class="titulo_estudio2"><p>Cursos</p></div>
            <div class="estudio2">
                <p>Como apasionado desarrollador de software, considero que la actualización constante es esencial para ofrecer soluciones innovadoras y eficientes. Mi compromiso con la mejora continua se refleja en mi constante búsqueda de conocimiento a través de diversos cursos y capacitaciones. Exploro activamente nuevas tecnologías para mantenerme al tanto de las últimas tendencias del mundo del desarrollo de software. Este enfoque proactivo no solo me permite adaptarme rápidamente a los avances tecnológicos, sino que también garantiza que mis habilidades estén siempre alineadas con las demandas cambiantes de la industria. Estoy comprometido a ofrecer soluciones de software de calidad respaldadas por un conjunto actualizado de habilidades y conocimientos.</p>
            </div>
            <button class="boton">vamos...</button>
        </div>
    </div>
    <div class="container3">
        <div class="titulo_conocimientos"><p>Conocimientos</p></div>
        <div class="contenido_conocimientos"><p>Esta sección destaca mis conocimientos en constante evolución y refleja mi compromiso con la actualización continua. Mi portafolio se mantendrá actualizado a medida que avance en mis estudios y adquiera nuevos conceptos en diferentes tecnologías.</p></div>
        <div class="angular"  (click)="angular()"><p>Angular</p></div>
        <div class="laravel"  (click)="laravel()"><p>Laravel-api</p></div>
        <div class="node" (click)="node()"><p>node-api</p></div>
        <div class="sql"><p>sql</p></div>

        <div class="contenido_angular" *ngIf="angularclick">
            <div class="ang_com-comp">
                <p class="tit_com-comp">Comunicación de Componentes en Angular</p>
                <ul class="ul_com-comp">
                    <li class="li1_com-comp">Input</li>
                    <li class="li2_com-comp">Output</li>
                    <li class="li3_com-comp">Servicios</li>
                    <li class="li4_com-comp">BehaviorSubject RXJS</li>
                </ul>
                
            </div>
            <div class="ang_con-api">
                <p class="tit_con-api">Consumo de APIs en Angular</p>
                <ul class="ul_con-api">
                    <li class="li1_con-api">Manejo de HttpClient</li>
                    <li class="li2_con-api">Inyección de Dependencias</li>
                    <li class="li3_con-api">Creación de Servicios</li>
                    <li class="li4_con-api">Solicitudes HTTP</li>
                    <li class="li5_con-api">Manejo de Observables</li>
                </ul>
                
            </div>
            <div class="ang_maq">
                <p class="tit_maq">Experto en Maquetación en Angular</p>
                <ul class="ul_maq">
                    <li class="li1_maq">Utilizacion de grid para maquetar</li>
                    <li class="li2_maq">Manejo adecuado de css</li>
                    <li class="li3_maq">Utilizacion de flex para organizacion</li>
                    <li class="li4_maq">Animaciones</li>
                </ul>
            </div>
        </div>

        <div class="contenido_laravel" *ngIf="laravelclick">
            <div class="vacio"></div>
            <div class="laravel_cont">
                <p class="tit_laravel_cont">creacion api rest laravel</p>
                <ul class="ul_laravel_cont">
                    <li class="li1_laravel_cont">Query builder</li>
                    <li class="li2_laravel_cont">Eloquent</li>
                    <li class="li3_laravel_cont">Pruebas postman</li>
                    <li class="li4_laravel_cont">Seguridad</li>
                </ul>
                
            </div>
        </div>

        <div class="contenido_node" *ngIf="nodejs">
            <div class="vacio2"></div>
            <div class="node_cont">
                <p class="tit_node_cont">creacion api rest node js</p>
                <ul class="ul_node_cont">
                    <li class="li1_node_cont">Api REST</li>
                    <li class="li2_node_cont">Fundamentos socket</li>
                    <li class="li3_node_cont">Seguridad</li>
                    <li class="li4_node_cont">JWT</li>
                </ul>
                
            </div>
        </div>
    </div>
    
</main>