<main>
  <div class="flex-column padding_2 ">
    <div class="flex-row marginb_6">
      <span class="titulo_blanco m-right-2">Conocimientos en MySql</span>
      <img class="width-img-1" src="assets/sql.png" alt="angular">
    </div>

    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Consultas simples.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Sub consultas.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Inner join, left join.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Where, group by, order by.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Views.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Triggers, procedimientos y funciones.</span>
    </div>
  </div>
</main>
