<main>
  <div class="flex-column padding_2 ">
    <div class="flex-row marginb_6">
      <span class="titulo_blanco m-right-2">Conocimientos en React</span>
      <img class="width-img-1" src="assets/react.png" alt="angular">
    </div>

    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">JavaScript y ES6.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Conceptos Básicos de React.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Ciclo de Vida de los Componentes.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Formularios y Validación.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Routing.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Gestión de Estado.</span>
    </div>
  </div>
</main>
