<div class="project1">
    <div class="imagen">
        <img src="assets/gifsApp.png" alt="">
    </div>
    <div class="titulos">
        <p>Buscador de gifs</p>
        <p>gifs app</p>
    </div>
    <div class="titulo1">Conocimientos adquiridos</div>
    <div class="conocimientos">
        <p class="comunComp_tit">Comunicación entre componentes</p>
        <ul >
            <li >
                <p >Se utiliza el decorador input para pasar datos desde un componente padre a un componente hijo. </p>
            </li>
            <li >
                <p >Se utiliza el decorador output se utiliza para emitir eventos desde un componente hijo hacia un componente padre.</p>
            </li>
        </ul>
        <p class="comunComp_tit">Peticiones http</p>
        <ul >
            <li >
                <p >Se crea un servicio para realizar peticiones http a un Api externa o Apis propias. </p>
            </li>
            <li >
                <p >Se consume el servicio para suscribirnos al método que trae la información del Api y por parámetro se le manda la palabra que se desea buscar en el api de GHYPI.</p>
            </li>
        </ul>
    </div>
    <!-- <div class="btn">
        <button type="button" class="btn-buton">
            <a href="https://jovial-profiterole-c79016.netlify.app/" target="_blank">Go</a>
        </button>
    </div> -->
</div>
