<div class="project1">
  <div class="imagen">
      <img src="assets/filtroPipe.png" alt="">
  </div>
  <div class="titulos">
    <p>Formularios reactivos</p>
    <p>app de los diferentes formularios reactivos</p>
  </div>
  <div class="titulo1">Conocimientos adquiridos</div>
  <div class="conocimientos">
      <p class="comunComp_tit">Creación de Formularios Simples</p>
      <ul >
          <li >
              <p >Aprendizaje sobre la utilización del ReactiveFormsModule y la creación de formularios utilizando FormControl y FormGroup para un control más detallado y programático de los datos del formulario.</p>
          </li>
      </ul>
      <p class="comunComp_tit">Formularios Dinámicos</p>
      <ul >
          <li >
              <p >Capacidad para construir formularios que se ajustan en tiempo real a las interacciones del usuario, usando FormArray para añadir o eliminar campos de forma dinámica según las necesidades del usuario.</p>
          </li>
      </ul>
      <p class="comunComp_tit">Formularios con Arrays</p>
      <ul >
          <li >
              <p >Manejo de listas de datos dentro de los formularios, como tags o entradas múltiples, mediante FormArray, lo cual permite una estructura de datos más compleja y flexible.</p>
          </li>
      </ul>
      <p class="comunComp_tit">Formularios con Switches</p>
      <ul >
          <li >
              <p >Implementación de switches como controles dentro de los formularios, facilitando interfaces como activar/desactivar opciones, que son comunes en configuraciones y preferencias.</p>
          </li>
      </ul>
      <p class="comunComp_tit">Validaciones Centralizadas</p>
      <ul >
          <li >
              <p >Uso de un servicio de validaciones donde se centralizan todas las reglas de validación de los formularios, lo que promueve la reutilización de código y facilita el mantenimiento del sistema de validación de la aplicación.</p>
          </li>
      </ul>
      <p class="comunComp_tit">Manejo de Estado y Respuestas</p>
      <ul >
          <li >
              <p >Aprendizaje en la gestión del estado de los formularios y la manipulación de las respuestas del servidor, para realizar acciones basadas en la validación y el procesamiento de los datos del formulario.</p>
          </li>
      </ul>
  </div>
  <div class="repositorio">
    <a href="https://github.com/danielg598/formApp.git" target="_blank">Proyecto GitHub</a>
  </div>
  <!-- <div class="btn">
      <button type="button" class="btn-buton">
          <a href="https://jovial-profiterole-c79016.netlify.app/" target="_blank">Go</a>
      </button>
  </div> -->
</div>
