<div class="flex flex-col">
    <div class="grid grid-cols-9 gap-4 pb-5">
        <div class="col-span-9 text-center flex justify-center items-center pb-10">
            <h3>Distribuidora pasteur</h3>
        </div>
        <div class="col-span-3 flex justify-center items-center logo">
            <img src="../../../../../assets/pasteur.png" alt="">
        </div>
        <div class="col-span-3 flex justify-center text-center items-center flex-col">
            <p>Inicio</p>
            <p>21/Diciembre/2022</p>
        </div>
        <div class="col-span-3 flex justify-center text-center items-center flex-col">
            <p>Finalizacion</p>
            <p>18/julio/2023</p>
            <!-- <p-button label="Submit" /> -->
        </div>
    </div>

    <app-tabla [columns]="columns" [data]="data"></app-tabla>
    
</div>