<div class="p-5">

    <div class="titulo">
        <p>Buscar usuarios en GitHub</p>
    </div>
    <input [formControl]="searchControl" placeholder="Buscar usuario..." />
    <p-button (click)="buscar()">Buscar</p-button>
    
    <ul class="grid grid-cols-3 overflow-y-auto h-[345px]" *ngIf="users$ | async as users">
        <li *ngFor="let user of users">
            <img [src]="user.avatar_url" width="150" />
            {{ user.login }}
        </li>
    </ul>
    
    <div *ngIf="totalResults > 0" class="pagination">
        <p-button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</p-button>
        Página {{ currentPage }} de {{ totalPages }}
        <p-button (click)="nextPage()" [disabled]="currentPage >= totalResults / perPage">Siguiente</p-button>
    </div>
</div>
<div>   
    <form [formGroup]="formulario">
        <label>
            nombre:
            <input formControlName="nombre" />
        </label>
        <label>
            apellido:
            <input formControlName="apellido" />
        </label>
    </form>
    <p>{{nombreCompleto}}</p>
</div>