<main>
  <div class="flex-column padding_2 ">
    <div class="flex-row marginb_6">
      <span class="titulo_blanco m-right-2">Conocimientos en Node</span>
      <img class="width-img-1" src="assets/node.png" alt="angular">
    </div>

    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Creación de un servidor básico.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Manejo de solicitudes.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Variables, tipos de datos, operadores, condicionales, bucles.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Instalación y configuración</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Funciones.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Asincronismo.</span>
    </div>
    <div class="flex-row">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Objetos y Arrays.</span>
    </div>
  </div>
</main>
