swiper-container {
    overflow: hidden;
}

.mySwiper {
    width: 100%;
    height: 100px;
}

// .titulo p {
//     font-family: "Anta", sans-serif;
//     font-weight: 700;
//     font-size: 35px;
//     color: #161613;
// }