<main *ngIf="!isLoading; else loadingTemplate">
  <div class="projects grid grid-cols-2 sm:grid-cols-3 gap-3 p-5">
    @for (project of projects; track $index) {<app-projects [project]="project"></app-projects>}
  </div>
</main>

<!-- asi se cragan los modales -->
<ng-template cdk-portal #InfoAppGiff="cdkPortal">
  <app-angular-info-app-giffs></app-angular-info-app-giffs>
</ng-template>

<ng-template cdk-portal #InfoAppFiltrador="cdkPortal">
  <app-filtro-app></app-filtro-app>
</ng-template>

<ng-template cdk-portal #InfoAppFormApp="cdkPortal">
  <app-form-app-modal></app-form-app-modal>
</ng-template>

<!-- asi se carga el spiner de cargando -->
<ng-template #loadingTemplate>
  <div class="loading-container">
    <i class="fas fa-spinner fa-spin fa-3x"></i>
    <p>Cargando...</p>
  </div>
</ng-template>