<div class="flex flex-col">
    <div class="grid grid-cols-9 gap-4 pb-5">
        <div class="col-span-9 text-center flex justify-center items-center pb-10">
            <h3>Garantías comunitarias</h3>
        </div>
        <div class="col-span-3 flex justify-center items-center logo">
            <img src="../../../../../assets/garantiasComunitarias.jpeg" alt="">
        </div>
        <div class="col-span-3 flex justify-center text-center items-center flex-col">
            <p>Inicio</p>
            <p>02/noviembre/2023</p>
        </div>
        <div class="col-span-3 flex justify-center text-center items-center flex-col">
            <p>Finalizacion</p>
            <p>23/septiembre/2024</p>
        </div>
    </div>

    <app-tabla [columns]="columns" [data]="data"></app-tabla>
    
</div>