<main style="margin-top: 70px;">
    <div class="projects">
        <div class="project-1">
            <div class="imagen">
                <img src="../../../../../assets/gifsApp.png" alt="">
            </div>
            <div class="titulos">
                <p>Buscador de gifs</p>
                <p>gifs app</p>
            </div>
            <div class="descripcion">
                es una aplicación en la cual se trabaja mediante comunicación entre componentes, y se consume un api externo. En la cual la idea es mostrar una de interfaz de búsqueda que también muestre un historial de lo que se ha buscado.
            </div>
            <div class="btn">
                <button class="btn-buton">ir...</button>
            </div>
        </div>
    </div>
</main>
    
