main{
    position: fixed;
    top: 90px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas: "project1 espacio espacio"
    "espacio2 espacio2 espacio2";
    place-items: center;
    padding: 5px;
}
.project1{
    grid-area: project1;
    display: grid;
    grid-template-rows: 35% 20% 35% 10%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "imagen imagen"
    "titulos titulos"
    "descripcion descripcion"
    "modal btn"
    ;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
}
.imagen{
    width: 100%;
    height: 100%;
    grid-area: imagen;
}
.imagen img{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.titulos{
    grid-area: titulos;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px;
}
.titulos p:nth-child(1){
    font-family: "Anta", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin: 0;
}
.titulos p:nth-child(2){
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #2c2b2b;
    margin: 0;
}
.descripcion{
    grid-area: descripcion;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #000;
}
.btn{
    width: 100%;
    grid-area: btn;
    display: flex;
    justify-content: flex-end;
}
.btn-buton{
    cursor: pointer;
    width: 100px;
    border-radius: 5px 0 0 0;
    background-color: #121212;
}
.btn-buton a{
    color: #e6dc13;
    font-family: "Anta", sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.espacio{
    grid-area: espacio;
}
.espacio2{
    grid-area: espacio2;
}
.icono-modal{
    grid-area: modal;
    width: 25px;
    margin-left: 5px;
}
.icono-modal svg{
    fill: #121212;
    cursor: pointer;
}
@media only screen and (max-width: 945px){
    .descripcion{
        display: none;
    }
    .project1{
        grid-template-rows: 45% 35% 20%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "imagen imagen"
        "titulos titulos"
        "modal btn"
        ;
    }
}