<div class="project1">
  <div class="imagen">
      <img src="assets/filtroPipe.png" alt="">
  </div>
  <div class="titulos">
    <p>Filtro pipe</p>
    <p>app de filtrado</p>
  </div>
  <div class="titulo1">Conocimientos adquiridos</div>
  <div class="conocimientos">
      <p class="comunComp_tit">Transformación de datos</p>
      <ul >
          <li >
              <p >Se aprende cómo los pipes pueden transformar datos para su visualización sin alterar la estructura original de los datos. Esto es fundamental para operaciones como formatear fechas, números, y realizar filtrados dinámicos que solo afectan lo que el usuario ve en la pantalla. </p>
          </li>
          <li >
              <p >Entender la diferencia entre pipes puros e impuros y cómo esto afecta el rendimiento de una aplicación. </p>
          </li>
      </ul>
      <p class="comunComp_tit">Manejo de arrays y objetos en JavaScript/TypeScript</p>
      <ul >
          <li >
              <p >Profundizar en el manejo de estructuras de datos para implementar la lógica de filtrado, utilizando métodos como filter(), map(), reduce(), entre otros.</p>
          </li>
      </ul>
      <p class="comunComp_tit">Principios de programación funcional</p>
      <ul >
          <li >
              <p >Al implementar un pipe de filtrado, se refuerza mi comprensión de la programación funcional, ya que los pipes son un excelente ejemplo de este paradigma, donde se favorece la inmutabilidad y las funciones puras.</p>
          </li>
      </ul>
      <p class="comunComp_tit">Detección de cambios</p>
      <ul >
          <li >
              <p >Aprendi cómo Angular gestiona la detección de cambios y cómo los pipes pueden influir en este proceso. Esto es clave para optimizar el rendimiento de tu aplicación, especialmente en listas grandes que requieren filtrado.</p>
          </li>
      </ul>
  </div>
  <div class="repositorio">
    <a href="https://github.com/danielg598/buscadorPipe.git" target="_blank">Proyecto GitHub</a>
  </div>
  <!-- <div class="btn">
      <button type="button" class="btn-buton">
          <a href="https://jovial-profiterole-c79016.netlify.app/" target="_blank">Go</a>
      </button>
  </div> -->
</div>
