<main>
  <div class="flex-column padding_2 ">
    <div class="flex-row marginb_6">
      <span class="titulo_blanco m-right-2">Conocimientos en Angular</span>
      <img class="width-img-1" src="assets/angular.png" alt="angular">
    </div>

    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Comunicación entre componentes</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Rutas.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Ciclo de vida de la aplicación.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Formularios reactivos.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Programación reactiva, RXJS.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Asincronismo.</span>
    </div>
    <div class="flex-row">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Sockets.</span>
    </div>
  </div>
</main>
