<div class="flex flex-col">
    <div class="grid grid-cols-9 gap-4 pb-5">
        <div class="col-span-9 text-center flex justify-center items-center pb-10">
            <h3>Confiar cooperativa financiera</h3>
        </div>
        <div class="col-span-3 flex justify-center items-center logo">
            <img src="../../../../../assets/confiar.png" alt="">
        </div>
        <div class="col-span-3 flex justify-center text-center items-center flex-col">
            <p>Inicio</p>
            <p>15/octubre/2024</p>
        </div>
        <div class="col-span-3 flex justify-center text-center items-center flex-col">
            <p>Fin</p>
            <p>28/marzo/2025</p>
            <!-- <p>23 de septiembre del 2024</p> -->
        </div>
    </div>

    <app-tabla [columns]="columns" [data]="data"></app-tabla>
    
</div>
