<main>
  <div class="flex-column padding_2 ">
    <div class="flex-row marginb_6">
      <span class="titulo_blanco m-right-2">Conocimientos en Laravel</span>
      <img class="width-img-1" src="assets/laravel.png" alt="angular">
    </div>

    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Eloquent.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Query builders.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Migraciones.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Modelos.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Funciones.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Conocimiento total del entorno.</span>
    </div>
    <div class="flex-row marginb_2">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Api REST.</span>
    </div>
    <div class="flex-row">
      <i class="fa-solid fa-check m-right-2"></i>
      <span class="subtitulo_blanco">Generación de archivos en Excel y PDF.</span>
    </div>
  </div>
</main>

